

*,
*::before,
*::after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#sftpl5-sidepanel {
  position: fixed;
  display: block;
  width: 330px;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999;
  cursor: pointer;
  box-shadow: -2px 2px 15px 1px rgba(0, 0, 0, 0.2);
  margin: 0 !important;
  padding: 0 !important;
  vertical-align: top;
  box-sizing: border-box !important;
  font-family: sans-serif;
}
.sftpl5-reccontainer{
  height: 100px;
  overflow:scroll;
   margin: 0 !important;
  padding: 0 !important;
}

.sftpl5-close{
  position: fixed;
  right: 329px;
  z-index: 9998;
  width:40px;
  height: 40px;
  text-align: center;
  font-family: sans-serif;
  font-weight: 900;
  font-size: 1.2em;
  color: #000;
  padding: 5px 10px 10px 10px;
  background-color:#fff; /* #E2669A;*/
  user-select: none;
  box-shadow: -4px 2px 4px 1px rgba(0, 0, 0, 0.2);

}

.sftpl5-heading {
    color: #fff;
    background: rgb(216, 91, 255);
    background: linear-gradient(135deg, rgba(2,200,255,1) 0%, rgba(75,14,157,1) 100%);
    padding: 15px !important;
    height: 230px;
    margin: 0px 0px 0px 15px !important;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    line-height: 30px !important;
    text-align: center;
     margin: 0 !important;
}

.sftpl5-sep {
    color: #444;
    padding: 15px;
    height: 40px;
    margin-bottom: 15px;
    line-height: 10px;
    text-align: left;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 0.8em; 
}

.sftpl5-heading button {
    color: #fff;
    height: 50px;
    width: 180px;
    border: 0;
    font-size: 1em;
    background-color: #120A4A;
    line-height: 20px !important;
    font-weight: 800;
    font-family: sans-serif;
}
.sftpl5-heading h1 {
    padding-bottom: 5px;
    color:#fff;
    font-size: 2.5em;
    font-weight:700;
    font-family: serif;
        line-height: 20px !important;

}
.sftpl5-heading h3 {
    padding-bottom: 5px;
    color:#fff;
    font-size: 2em;
    font-weight:700;
    font-family: serif;
        line-height: 20px !important;

}
.sftpl5-heading h4 {
    padding-bottom: 5px;
    color:#fff;
    font-size: 1.5em;
    font-weight:700;
    font-family: serif;
        line-height: 20px !important;

}
.sftpl5-heading h5 {
    padding-bottom: 5px;
    color:#fff;
    font-size: 1em;
    font-weight:700;
    font-family: serif;
        line-height: 20px !important;

}


#sftpl5-cardcontainer{
  background: rgba(255, 255, 255, 0.90);
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  margin: 5px auto;
  height: 130px;
  width: 310px; 
      line-height: 20px !important;

}

.sftpl5-product-details {
  position: relative;
  text-align: left;
  overflow: hidden;
  padding: 5px;
  height: 100%;
  float: left;
  width: 52%;
      line-height: 20px !important;


}

#sftpl5-cardcontainer .sftpl5-product-details h1{
  font-family: 'Bree Serif', serif;
  display: inline-block;
  position: relative;
  font-size: 15px;
  color: #344055;
  margin: 0;
  
}

#sftpl5-cardcontainer .sftpl5-product-details h5{
  font-family: 'Bree Serif', serif;
  display: inline-block;
  position: relative;
  font-size: 10px;
  color: #344055;
  margin: 0;
}
span.crossed{
  text-decoration: line-through;
  font-size: 10px;
  color: #344055;
  margin: 0;
}

#sftpl5-cardcontainer .sftpl5-product-details h1:before{
  position: absolute;
  content: '';
  right: 0%; 
  top: 0%;
  transform: translate(25px, -15px);
  font-family: 'Bree Serif', serif;
  display: inline-block;
  background: #ffe6e6;
  border-radius: 5px;
  font-size: 10px;
  padding: 0px;
  color: white;
  margin: 0;
  animation: chan-sh 6s ease infinite;

}

.sftpl5-hint-star {
  display: inline-block;
  margin-left: 0.5em;
  color: gold;
  width: 85%;
}


#sftpl5-cardcontainer .sftpl5-product-details > p {
  font-family: 'EB Garamond', serif !important;
  text-align: left !important;
  font-size: 12px !important;
  color: #7d7d7d !important;
  line-height: 13px;
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  
}
.sftpl5-control{
  position: relative;
  bottom: 0px !important;
  left: 0px !important;
  
}
.sftpl5-btn {

  transform: translateY(0px);
  transition: 0.3s linear;
  background:  #E2669A;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  border: none;
  color: #eee;
  padding: 0px 20px 0px;
  margin: 0;
  
}

.sftpl5-btn:hover{
  background: #1a66ff;}

.sftpl5-btn span {
  font-family: 'Farsan', sans-serif !important;
  transition: transform 0.3s;
  display: inline-block !important;
  padding: 5px 10px !important;
  font-size: .9em !important;
  margin:0 !important;
  
}
.sftpl5-btn .sftpl5-price, .sftpl5-shopping-cart{
  background: #333;
  border: 0;
  margin: 0;
}

.sftpl5-btn .sftpl5-price {
  transform: translateX(-10%); padding-right: 10px;
}

.sftpl5-btn .sftpl5-shopping-cart {
  transform: translateX(-100%);
  position: absolute;
  background: #333;
  z-index: 1;
  left: 0;
  top: 0;
}

.sftpl5-btn .sftpl5-buy {z-index: 3; font-weight: bolder;}

.sftpl5-product-image {
  transition: all 0.3s ease-out;
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 100%;
  float: right;
  width: 40%;
  display: inline-block;
  
}

#sftpl5-cardcontainer img {width: 100%;height: 100%; object-fit: contain;}

.sftpl5-info {
    background: rgba(27, 26, 26, 0.9);
    font-family: 'Bree Serif', serif;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.2;
    text-align: left;
    font-size: 105%;
    cursor: no-drop;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.sftpl5-info h2 {text-align: center}