{{!--
Global template for showing side panel recs with product recipe, and a top promo
@author Juliano Polito (jpolito@salesforce.com)

rec card based on https://freefrontend.com/css-cards/

Requirements

    1) Must have a contentzone for campaign management and prioritization - although it won't attach to the zone
    2) Must have a working product recipe for up to 4 recs
    3)  

--}}


<div id="sftpl5-sidepanel" 
data-evg-campaign-id="{{campaign}}" 
data-evg-experience-id="{{experience}}"
data-evg-user-group="{{userGroup}}">
    <div class="sftpl5-close" data-evg-dismissal>X</div>
    <div class="sftpl5-heading" {{#if promoImgUrl}}style="background-image: url({{promoImgUrl}}); background-size:cover; background-repeat:none"{{/if}}>
        <!--
        {{#unless promoImgUrl}}
            {{#if l1}}<h3>{{l1}}</h3>{{/if}}
            {{#if l1}}<h4>{{l2}}</h4>{{/if}}
            {{#if l1}}<h1>{{l3}}</h1>{{/if}}
            {{#if l1}}<h5>{{l4}}</h5>{{/if}}
            <a href="{{promoUrl}}">
                <button>Continue Checkout</button>
            </a>
        {{/unless}}
        -->
    </div>
    <div class="sftpl5-sep">
        <h5>Additional items to explore</h5>
    </div>
    <div id="sftpl5-reccontainer">
        {{#each rec}}
        <div id="sftpl5-cardcontainer"
        data-evg-item-id="{{this.id}}" 
        data-evg-item-type="{{../itemType}}">
            <div class="sftpl5-product-details">
                <h1>{{this.attributes.name.value}}</h1>
                <!--<span class="sftpl5-hint-star sftpl5-star">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </span>-->
                <p class="sftpl5-information">{{this.attributes.description.value}}</p>
                <h5><span class="crossed">${{this.attributes.listPrice.value}}</span> ${{this.attributes.price.value}}</h5>
                <div class="sftpl5-control">
                    <a href="{{this.attributes.url.value}}" data-evg-clickthrough>
                    <button class="sftpl5-btn">
                        <!--<span class="sftpl5-price">${{this.attributes.price.value}}</span>
                        <span class="sftpl5-shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>-->
                        <span class="sftpl5-buy">{{../ctaText}}</span>
                    </button>
                    </a>
                </div>
            </div>
            <div class="sftpl5-product-image">
                <img src="{{this.attributes.imageUrl.value}}" alt="">
            </div>
        </div>
        {{/each}}
    </div>
</div>